/* Importing Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* Universal Styles */
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* font-family: "DN Sans", sans-serif; */
}

body {
  background-color: #f2e8f2;
  background-image: radial-gradient(circle at top right, #162719 60%, #f4ac45);
  /*Stops overflow on sides */
  overscroll-behavior-y: none;
}

/* Hero Styling */
.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/concert-sun-pic.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1 {
  font-size: 5em;
  margin-top: 0;
  margin-bottom: 0.5em;
  color: white;
}

.find-event {
  margin: 0;
}
